.blogs_section {
  min-height: 100vh;
  background: var(--primary-color);
  place-items: center;
  scroll-snap-align: center;
}
.blog_container {
  padding: 60px 0;
}

.leaderboard h2,
.blogs_heading h3 {
  text-align: right;
}
.blogs_heading h3 {
  margin-bottom: 0 !important;
}
.leaderboard h2 {
  margin-bottom: 30px !important;
}

.leaderboard h2 {
  margin-bottom: 50px;
}

.blog_container .blogs_container {
  padding: 0 !important;
}

@media screen and (max-width: 600px) {
  .blogs_section {
    min-height: auto;
  }
}
