.ideabox_section {
  min-height: 100vh;
  background: var(--primary-color);
  scroll-snap-align: center;
  place-items: center;
}

.ideabox_container {
  padding: 60px 0;
}

.ideabox_features {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  flex-wrap: wrap;
}

.features {
  width: 26%;
  margin: 20px 0;
}

.features h3 {
  font-family: var(--secondary-font);
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 20px;
  color: var(--primary-heading-color);
  max-width: 210px;
  line-height: 1.1;
}

.features p {
  color: #fff;
  max-width: 32ch;
}

@media (max-width: 768px) {
  .features {
    width: 45%;
  }

  .ideabox_features {
    padding-top: 30px;
  }
}

@media (max-width: 600px) {
  .ideabox_section {
    min-height: auto;
  }
  .ideabox_container {
    padding: 30px 0;
  }

  .features h3 {
    font-size: 20px;
  }

  .features {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .ideabox_section {
    scroll-snap-align: initial;
  }
}
