.ideabox_section {
  min-height: 100vh;
  background: var(--primary-color);
  scroll-snap-align: center;
  place-items: center;
}

.ideabox_container {
  padding: 30px 0;
}

.ideabox_features {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.features {
  width: 26%;
  margin: 15px 0;
}

.features h3 {
  font-family: var(--secondary-font);
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 10px;
  color: var(--primary-heading-color);
  max-width: 210px;
  line-height: 1.1;
}

.features p {
  color: #fff;
  max-width: 32ch;
}
.tech_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.tech_images {
  width: 5.5%;
  transition: all 0.2s ease-in-out;
}
.tech_images:hover .tech_images_img {
  transform: scale(1.25);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.tech_images img {
  width: 100%;
  height: auto;
  filter: brightness(0) invert(1);
  opacity: 0.6;
}
.tech_container_slider {
  display: none;
}

@media (max-width: 768px) {
  .features {
    width: 45%;
  }

  .ideabox_features {
    padding-top: 30px;
  }
  .tech_container {
    display: none;
  }
  .tech_container_slider {
    display: block;
  }
  .tech_images {
    width: 100%;
    padding: 0 10px;
  }
}

@media (max-width: 600px) {
  .ideabox_section {
    min-height: auto;
  }
  .tech_images {
    padding: 0 15px;
  }
  .ideabox_container {
    padding: 30px 0;
  }

  .features h3 {
    font-size: 20px;
  }

  .features {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .ideabox_section {
    scroll-snap-align: initial;
  }
}
