.overview_section {
  background: var(--primary-color);
  place-items: center;
  scroll-snap-align: center;
  min-height: 101vh;
}

.overview_container {
  margin: 0 auto;
  padding: 100px 0 120px 0;
}

.overview_stats {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 0 0 0;
  width: 100%;
  text-align: center;
}
.overview_stats .overview_stats_content:nth-child(1) {
  width: 15%;
}
.overview_stats .overview_stats_content:nth-child(2) {
  width: 15%;
}
.overview_stats .overview_stats_content:nth-child(3),
.overview_stats .overview_stats_content:nth-child(4),
.overview_stats .overview_stats_content:nth-child(5) {
  width: 12%;
}

.overview_stats_content span {
  color: #ff5f36;
  font-family: var(--secondary-font);
  font-size: 72px;
  font-weight: 600;
  letter-spacing: -2px;
  transition: ease-in-out;
  text-align: center;
}

.overview_stats_content {
  width: 10%;
}

.overview_stats_content p {
  color: #fff;
  font-size: 13px;
  /* width: 19ch; */
}

@media screen and (max-width: 1000px) {
  .overview_stats_content span {
    font-size: 48px;
  }
}

@media screen and (max-width: 600px) {
  .overview_container {
    padding: 30px 0 60px 0;
  }

  .overview_section {
    min-height: auto;
  }
}

@media screen and (max-width: 768px) {
  .overview_stats .overview_stats_content:nth-child(1),
  .overview_stats .overview_stats_content:nth-child(2),
  .overview_stats .overview_stats_content:nth-child(3),
  .overview_stats .overview_stats_content:nth-child(4),
  .overview_stats .overview_stats_content:nth-child(5) {
    width: 50% !important;
    text-align: left;
    /* font-size: 48px; */
  }

  .overview_stats {
    row-gap: 30px;
  }

  .overview_stats_content span {
    font-size: 60px;
  }
}

@media screen and (max-width: 400px) {
  .overview_stats_content span {
    font-size: 48px;
  }
  .overview_stats_content p {
    width: 15ch;
  }
}

@media screen and (max-width: 800px) {
  .overview_section {
    scroll-snap-align: center;
  }
}
