.header_bg {
  height: 80px;
  background: var(--secondary-color);
}

.banner_container {
  position: relative;
}
.banner_image img {
  width: 100%;
  height: auto;
}
.work_logo {
  position: absolute;
  width: 250px;
  left: 10%;
  bottom: -125px;
}
.work_logo img {
  width: 100%;
  height: auto;
}
.content_bg {
  background: var(--primary-color);
}
.content_container {
  padding: 60px 0;
}
.button_byco {
  text-align: right;
  margin-bottom: 100px;
}
.byco_information pre {
  color: #fff;
  font-size: 18px;
  margin-bottom: 70px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.byco_information h3 {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 70px;
}
.byco_information pre:last-child {
  font-weight: 600;
}
.case_studies_heading h3 {
  color: var(--primary-heading-color);
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 70px;
}
.load_more_btn {
  margin-top: 20px;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .banner_image img {
    height: 30vh;
  }
  .work_logo {
    width: 150px;
    bottom: -75px;
  }
}

@media screen and (max-width: 500px) {
  .header_bg {
    height: 60px;
  }
  .byco_information pre {
    font-size: 16px;
  }
  .button_byco {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 400px) {
  .banner_image img {
    height: 25vh;
  }
  .work_logo {
    width: 120px;
    bottom: -60px;
  }
  .content_container {
    padding: 80px 0 60px 0;
  }
}
