.section2 {
  background: var(--primary-color);
  min-height: 100vh;
  place-items: center;
  scroll-snap-align: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0;
}

.section2_content {
  width: 40%;
}

.section2_content h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  width: 300px;
}

.section2_content p {
  color: #fff;
  margin-top: 20px;
  opacity: 70%;
}

.section2_image {
  width: 45%;
  position: relative;
}

.lefthand_container {
  width: 100%;
  position: relative;
}

.lefthand_container_animate {
  animation-name: lefthand;
  animation-duration: 2s;
  animation-timing-function: ease;
  /* animation-iteration-count: initial; */
}
@keyframes lefthand {
  0% {
    left: -20%;
  }

  100% {
    left: 0;
  }
}

.righthand_container {
  width: 100%;
}

.righthand {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;

  transform: translate(0, -48%);
  z-index: 99;
}
.righthand_animate {
  animation-name: righthand;
  animation-duration: 2s;
  animation-timing-function: ease;
  /* animation-iteration-count: infinite; */
}
@keyframes righthand {
  0% {
    right: -20%;
  }

  100% {
    right: 0;
  }
}
.leftthumb {
  position: absolute;
  height: auto;
  width: 57.2%;
  top: 5%;
  left: 50%;
  transform: translate(-54.6%, -14.2%);
  z-index: 999;
}
.leftthumb_animate {
  animation-name: leftthumb;
  animation-duration: 2s;
  animation-timing-function: ease;
  /* animation-iteration-count: infinite; */
}
@keyframes leftthumb {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
.lefthand {
  width: 99%;
  height: 100%;

  z-index: 9;
}
.leftfingers {
  position: absolute;
  width: 37%;
  height: auto;
  top: 50%;
  left: 38.7%;
  transform: translate(64%, 10%);
  z-index: 999;
}
.leftfingers_animate {
  animation-name: leftfingers;
  animation-duration: 2s;
  animation-timing-function: ease;
  /* animation-iteration-count: infinite; */
}
@keyframes leftfingers {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 1000px) {
  .section2_content {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .lefthand_container_animate {
    animation-duration: 1.5s;
  }
  .leftthumb_animate {
    animation-duration: 1.5s;
  }
  .leftfingers_animate {
    animation-duration: 1.5s;
  }
  .righthand_animate {
    animation-duration: 1.5s;
  }
  .section2 {
    min-height: auto;
  }
  .flex {
    padding: 20px 0;
    flex-direction: column;
    gap: 30px;
  }

  .section2_image {
    margin-top: 30px;
  }

  .section2_content {
    width: 100%;
    margin-bottom: 20px;
    order: 2;
  }

  .section2_content p {
    font-size: 16px;
  }

  .section2_image {
    width: 100%;
  }
  .leftthumb {
    transform: translate(-54.6%, -14.4%);
  }

  @keyframes lefthand {
    0% {
      left: -5%;
    }
    100% {
      left: 0;
    }
  }

  @keyframes righthand {
    0% {
      right: -5%;
    }
    100% {
      right: 0;
    }
  }
}

@media screen and (max-width: 800px) {
  .section2 {
    scroll-snap-align: initial;
  }
}
