.logo-container {
  width: 55%;
  height: 100vh;
  margin: 0 0 0 40%;
}

.logo_shape1 {
  position: relative;
  top: 135px;
}

.home_scroll_container {
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

@media screen and (max-width: 800px) {
  .home_scroll_container {
    scroll-snap-type: none;
    overflow-y: initial;
  }
}
