.banner_bg {
  background: var(--secondary-color);
}
.banner_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  width: 90%;
  position: relative;
  left: 10%;
}
.banner_heading {
  width: 25%;
}
.banner_heading h2 {
  max-width: 270px;
}
.banner_image_1 {
  position: absolute;
  width: 200px;
  z-index: 0;
  width: 30%;
  top: 85%;
  left: 35%;
  transform: translate(-50%, -50%);
}
.banner_image_1 img {
  width: 100%;
  height: auto;
}
.banner_image {
  width: 65%;
  z-index: 1;
}
.banner_image img {
  width: 100%;
  height: auto;
}
.team_container {
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
  flex-wrap: wrap;
  row-gap: 50px;
}
.team_card {
  width: 30%;
}
.team_image {
  padding: 0 15px;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
}
.team_image img {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
  transition: all 0.3s ease-in-out;
  max-width: 250px;
}
.team_name h2 {
  font-size: 22px !important;
  font-family: var(--secondary-font) !important;
  margin-bottom: 5px;
  color: var(--primary-color);
  font-weight: 600;
}
.team_skill h4 {
  font-size: 14px;
  color: var(--secondary-color);
  font-family: var(--secondary-font) !important;
  margin-bottom: 15px;
}
.team_para p {
  color: #636363;
  font-size: 15px;
}
.team_linkedin {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
}
.team_image:hover img {
  opacity: 0.5;
}

.team_image:hover .team_linkedin {
  opacity: 1;
}

.team_linkedin_icon {
  color: var(--primary-heading-color);
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .banner_heading h2 {
    font-size: 32px !important;
  }
}

@media screen and (max-width: 910px) {
  .banner_heading h2 {
    font-size: 24px !important;
  }
  .team_card {
    width: 45%;
  }
}

@media screen and (max-width: 625px) {
  .banner_container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    width: 100%;
    left: 5%;
    padding-top: 100px;
  }
  .banner_heading {
    position: relative;
    width: 48%;
    left: 10%;
    margin-bottom: 30px;
  }
  .heading {
    font-size: 12px !important;
  }
  .banner_image_1 {
    visibility: hidden;
  }
  .banner_image {
    width: 100%;
  }
  .team_card {
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }
}
